.search__form{
  display: flex;
  align-items: center;
  position: relative;
  input {
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    width: 90%;
    height: auto;
  }
  button{
    all : unset
  }
  button{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top : 32.5%;
    right : 8%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
}
