.social-login{
  background-color: darkred;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
  padding: 20px 20px 12px;
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #24883b;
  .social__btn--github{
  }
}