extends ../base

block content
    if errorMessage
        h2=errorMessage
    form(method="POST")
        input(placeholder="Old Password", name="oldPassword")
        input(placeholder="New Password", name="newPassword")
        input(placeholder="New Password Confirmation", name="newPassword2")
        input(value="Change Password", type="submit")